*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card{
    position: relative;
}

.new{
    position: absolute;
    top: 8px;
    left: -20px;
    rotate: -45deg;
}

.card-title{
    width: 64%;
    align-self: center;
    margin: 0 auto;
    text-align: center;
    font-weight: bold;
}

hr{
    color: rgba(144, 139, 139, 0.429);
}

.card-price{
    background-color: rgba(200, 236, 236, 0.242);
    /* font-size: 20px; */
    font-weight: 500;
}

.card-text{
    min-height: 260px;
}

.price{
    line-height: 1.3;
    font-weight: bold;
}

.card-price .price span:nth-child(2){
    font-size: 45px;
}

.card-price .price span:nth-child(1){
    font-size: 30px;
    margin-bottom: 10px;
}

.card-price .fee-type{
    font-size: 15px;
    letter-spacing: -0.3px;
}

.know-more a{
    text-decoration: none;
}